$input_container-width: 650;
$input_container-height: 130;
$input_width: 450;
$input_height: 130;
$icon_container-width: 100;
$icon_width: 40;
$icon_height: 40;
$icon_container-height: 130;
$bg_color: rgb(93, 145, 243);
$icon_color: white;
$icon_eye_color: #565cc0;
$input_color-lock: black;
$input_color-unlock: white;




.password {
  position: relative;
  width: 100%;
  height: 100vh;
  background: $bg_color;
}

.password__bg{
  position: absolute;
  left: calc(50% - #{$input_container-width/2}px);
  top: calc(50% - #{$input_container-height/2}px);
  width: #{$input_container-width}px;
  height: #{$input_container-height}px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: none;
  overflow: hidden;
  background: black;
  &-after {
    position: absolute;
    right: 25px;
    top: 39px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: white;
    color: white;
    transition: right 0.5s, top 0.5s, width 0.5s, height 0.5s, border-radius 0.5s;
  }
  &-after.active {
    right: 0;
    top: 0;
    width: 101%;
    height: 101%;
    border-radius: 19px;
  }
}



@keyframes showPassword {
  0% {
    right: 25px;
    top: 39px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: white;
  }
  100% {
    right: 0;
    top: 0;
    width: 101%;
    height: 101%;
    border-radius: 10px;
    background: white;
  }
}

.password__container {
  position: absolute;
  left: calc(50% - #{$input_container-width/2}px);
  top: calc(50% - #{$input_container-height/2}px);
  width: #{$input_container-width}px;
  height: #{$input_container-height}px;
  display: flex;
  align-items: center;
}

.password__input {
  font-family: 'Roboto Mono', monospace;
  width: #{$input_width}px;
  height: #{$input_height}px;
  font-size: 50px;
  border: none;
  background: none;
  color: $bg_color;
  &:active, &:hover, &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

.password__icon {
  position: relative;
  width: #{$icon_container-width}px;
  height: #{$icon_container-height}px;
  stroke: white;

  &-container-lock {
    border-radius: 20px 0 0 20px;
  }

  &-container-eye {
    border-radius: 0 20px 20px 0;
    cursor: pointer;
  }

  &-lock, &-eye {
    position: absolute;
    width: #{$icon_width}px;
    height: #{$icon_height}px;
    left: calc(50% - #{$icon_width/2}px);
    top: calc(50% - #{$icon_height/2}px);
  }

  &-lock {
    font-size: #{$icon_width}px;
    line-height: #{$icon_height}px;
    color: white;
  }
  &-lock.active {
    color: black;
  }
  &-eye-frame {
    display: none;
    &:last-child {
      display: block;
    }
  }
}

.password__icon-eye-line {
  fill: none;
  stroke: $icon_eye_color;
  stroke-miterlimit: 0;
  stroke-width: 4px;
  stroke-linecap: round;
}

.password__icon-eye-circle {
  fill: $icon_eye_color;
  stroke: $icon_eye_color;
}
