.password
  .password__bg
    .password__bg-after
  .password__container
    .password__icon.password__icon-container-lock
      .password__icon-lock.fa.fa-lock
    input.password__input(type='password')
    bytton.password__icon.password__icon-container-eye(data-state = 'close' data-in_process='false')
       svg.password__icon-eye(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 90.49 89')
        title eye
        g#eye
          g.password__icon-eye-frame(data-name='12')
            circle#eye-2.password__icon-eye-circle(data-name='eye', cx='46.48', cy='44', r='9.88')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,1,86.49,0')
            line.password__icon-eye-line(x1='45.74', y1='16', x2='45.74', y2='3')
            line.password__icon-eye-line(x1='70.74', y1='23', x2='79.64', y2='14.1')
            line.password__icon-eye-line(x1='19.74', y1='23', x2='10.84', y2='14.1')
          g.password__icon-eye-frame(data-name='11')
            circle#eye-3.password__icon-eye-circle(data-name='eye', cx='46.48', cy='44', r='9.88')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,1,86.49,0')
            line.password__icon-eye-line(x1='45.74', y1='16', x2='45.74', y2='-1')
            line.password__icon-eye-line(x1='70.74', y1='23', x2='80.74', y2='11')
            line.password__icon-eye-line(x1='19.74', y1='23', x2='9.74', y2='11')
          g.password__icon-eye-frame(data-name='10')
            circle#eye-4.password__icon-eye-circle(data-name='eye', cx='46.48', cy='44', r='9.88')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,1,86.49,0')
            line.password__icon-eye-line(x1='45.74', y1='16', x2='45.74', y2='3')
            line.password__icon-eye-line(x1='70.74', y1='23', x2='79.64', y2='14.1')
            line.password__icon-eye-line(x1='19.74', y1='23', x2='10.84', y2='14.1')
          g.password__icon-eye-frame(data-name='9')
            circle#eye-5.password__icon-eye-circle(data-name='eye', cx='46.48', cy='44', r='9.88')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M2,44C16.83,29.17,27.75,21.28,46.48,21.76c17.86.45,27.18,7.41,42,22.25')
            line.password__icon-eye-line(x1='45.74', y1='21', x2='45.74', y2='11')
            line.password__icon-eye-line(x1='69.74', y1='28', x2='77.52', y2='20.22')
            line.password__icon-eye-line(x1='20.74', y1='28', x2='12.97', y2='20.22')
          g.password__icon-eye-frame(data-name='8')
            circle#eye-6.password__icon-eye-circle(data-name='eye', cx='46.48', cy='44', r='9.88')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M2,44C21.77,31.64,27.75,26.22,46.48,26.7c17.86.46,24.71,4.94,42,17.31')
            line.password__icon-eye-line(x1='45.74', y1='26', x2='45.74', y2='19')
            line.password__icon-eye-line(x1='70.74', y1='31', x2='75.4', y2='26.34')
            line.password__icon-eye-line(x1='20.74', y1='32', x2='15.09', y2='26.34')
          g.password__icon-eye-frame(data-name='7')
            circle#eye-7.password__icon-eye-circle(data-name='eye', cx='46.48', cy='44', r='9.88')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M2,44c27.18-9.9,25.75-9.79,44.48-9.9,18.26-.11,22.24,2.47,42,9.9')
            line.password__icon-eye-line(x1='45.74', y1='34', x2='45.74', y2='29')
            line.password__icon-eye-line(x1='69.74', y1='37', x2='73.28', y2='33.46')
            line.password__icon-eye-line(x1='20.74', y1='37', x2='17.21', y2='33.46')
          g.password__icon-eye-frame(data-name='6')
            path.password__icon-eye-line(d='M56.36,44.17A9.88,9.88,0,0,1,36.6,44v-.18c2.34,0,5.28.08,9.88.18C50.43,44.09,53.6,44.14,56.36,44.17Z')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M88.49,44h0c-17.32,0-22.29.27-32.1.15-2.76,0-5.93-.08-9.88-.17-4.6-.1-7.54-.18-9.88-.18-7.12-.1-8.53.18-34.58.2H2')
          g.password__icon-eye-frame(data-name='5')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M2,43.87c27.18,9.9,25.75,9.67,44.48,9.9,18.26.23,22.24-2.47,42-9.9')
            line.password__icon-eye-line(x1='45.74', y1='54', x2='45.74', y2='59')
            line.password__icon-eye-line(x1='69.74', y1='51', x2='73.28', y2='54.54')
            line.password__icon-eye-line(x1='20.74', y1='51', x2='17.21', y2='54.54')
          g.password__icon-eye-frame(data-name='4')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            path.password__icon-eye-line(d='M2,44C21.77,56.34,27.75,61.76,46.48,61.28c17.86-.46,24.71-4.94,42-17.31')
            line.password__icon-eye-line(x1='45.74', y1='62', x2='45.74', y2='69')
            line.password__icon-eye-line(x1='70.74', y1='57', x2='75.4', y2='61.66')
            line.password__icon-eye-line(x1='20.74', y1='56', x2='15.09', y2='61.66')
          g.password__icon-eye-frame(data-name='3')
            path.password__icon-eye-line(d='M2,43.73C16.83,58.58,27.75,66.47,46.48,66c17.86-.46,27.18-7.41,42-22.26')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            line.password__icon-eye-line(x1='45.74', y1='66', x2='45.74', y2='77')
            line.password__icon-eye-line(x1='69.74', y1='60', x2='77.52', y2='67.78')
            line.password__icon-eye-line(x1='20.74', y1='60', x2='12.97', y2='67.78')
          g.password__icon-eye-frame(data-name='2')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            line.password__icon-eye-line(x1='45.74', y1='72', x2='45.74', y2='86')
            line.password__icon-eye-line(x1='21.74', y1='65', x2='11.84', y2='74.9')
            line.password__icon-eye-line(x1='70.74', y1='65', x2='80.64', y2='74.9')
          g.password__icon-eye-frame(data-name='1')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            line.password__icon-eye-line(x1='45.74', y1='72', x2='45.74', y2='90')
            line.password__icon-eye-line(x1='21.74', y1='65', x2='10.74', y2='79')
            line.password__icon-eye-line(x1='70.74', y1='65', x2='81.74', y2='79')
          g.password__icon-eye-frame(data-name='0')
            path.password__icon-eye-line(d='M2,44a48,48,0,0,0,86.49,0')
            line.password__icon-eye-line(x1='45.74', y1='72', x2='45.74', y2='86')
            line.password__icon-eye-line(x1='21.74', y1='65', x2='11.84', y2='74.9')
            line.password__icon-eye-line(x1='70.74', y1='65', x2='80.64', y2='74.9')


